<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="customerDao" class="com.wjy.dao.impl.CustomerDaoImpl" scope="singleton" init-method="init"
          destroy-method="destory"></bean>
    <bean id="customerService" class="com.wjy.service.impl.CustomerServiceImpl">
        <property name="customerDao" value="#{customerDao}"/>
        <property name="name" value="#{'eric'}"/>
        <property name="id" value="#{10000}"/>
    </bean>
</beans>