<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="c1" class="com.wjy.service.impl.CustomerServiceImpl"></bean>
    <bean id="a1" class="com.wjy.config.LogAspect"></bean>
    <aop:config>
        <aop:aspect id="asp" ref="a1">
            <aop:pointcut id="logpt" expression="execution(public void com.wjy.service.impl.Customer*.*(..))"/>
            <aop:before method="log" pointcut-ref="logpt"/>
            <aop:after method="logAfter" pointcut-ref="logpt"/>
            <aop:after-returning method="logReturn" pointcut-ref="logpt"/>
            <aop:after-throwing method="logReturn" pointcut-ref="logpt"/>
            <aop:around method="logAround"
                        pointcut="execution(public void com.wjy.service.impl.CustomerServiceImpl.update())"/>
            <aop:pointcut id="arg"
                          expression="execution(public String com.wjy.service.impl.CustomerServiceImpl.*(..))"/>
            <aop:before method="beforeArg" pointcut-ref="arg"/>
            <aop:after-returning method="afterArg" returning="rvt" pointcut-ref="arg" />
            <aop:after-throwing method="logThrow" throwing="ex"
                                pointcut="execution(public String com.wjy.service.impl.CustomerServiceImpl.methodArg(..))"/>
        </aop:aspect>
    </aop:config>
</beans>